@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Comic+Neue&display=swap');

body{
    background-image: url(./img/y-so-serious-white.png);
    font-family: 'Comfortaa', cursive;
}
.container img{
    height: 5rem;
    width: 5rem;
}
.container h1{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 3rem ;
    text-transform: uppercase;
}

@media (max-width: 770px) {
    .container img{
        width: 10%;
        height: 12%;
    }
    .container h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem ;
    text-transform: uppercase;
    }
}