@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Comic+Neue&display=swap');

body{
    background-image: url(./img/y-so-serious-white.png);
    font-family: 'Comfortaa', cursive;
}
.con img{
    height: 5rem;
    width: 5rem;
}
.con h1{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 3rem ;
    text-transform: uppercase;
}
.creator img{
    height: 6rem;
    width: 8rem;
    margin-top: 3rem;
}

@media (max-width: 770px) {
    .con img{
        width: 10%;
        height: 12%;
    }
    .con h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem ;
    text-transform: uppercase;
    }
    .creator img{
        margin-left: 7rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}